In [115]:
import yfinance as yf
from datetime import datetime, timedelta
from statsmodels.graphics.tsaplots import plot_acf, plot_pacf
from statsmodels.tsa.arima_model import ARIMA
from tqdm import tqdm
import pandas as pd
from statsmodels.tools.sm_exceptions import ValueWarning, HessianInversionWarning, ConvergenceWarning
import warnings
import pymc3 as pm
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
import statsmodels.api as sm
from statsmodels.tsa.stattools import adfuller
from pandasgui import show

In [194]:
def removeKeysFromDictionary(aStockInfoDict):
    sacarVariables = ['companyOfficers','address1','city','state','zip','country','phone','fax','website','currency',
                 'exchange',
                 'quoteType',
                 #'symbol',
                 'underlyingSymbol',
                 #'shortName',
                 'longName',
                 'firstTradeDateEpochUtc',
                 'timeZoneFullName',
                 'timeZoneShortName',
                 'uuid',
                 'messageBoardId',
                'industry',
                 'industryDisp',
                 'sector',
                 'longBusinessSummary', 'recommendationKey', 'financialCurrency']
   
    test_dict = {key: aStockInfoDict[key]
             for key in aStockInfoDict if key not in sacarVariables}
 
    #[aStockInfoDict.pop(key) for key in sacarVariables]
    return(test_dict)

In [74]:
def makeDataFrameFromSymbol(symbol):
    data = yf.Ticker(symbol)
    info = data.info
    info =removeKeysFromDictionary(info)
    dfInfo = pd.DataFrame.from_dict([info])
    return(dfInfo)

In [144]:
dfGoogle = makeDataFrameFromSymbol('GOOGL')
dfApple = makeDataFrameFromSymbol('AAPL')
dfMicrosoft = makeDataFrameFromSymbol('MSFT')

In [199]:
def makeDataFrameFromSymbols(listOfSymbols):
    result = makeDataFrameFromSymbol(listOfSymbols[0])
    for symbol in listOfSymbols[1:]:
        result = pd.concat([result, makeDataFrameFromSymbol(symbol)], axis=0, ignore_index=True)
    column_name = 'shortName'
    column = result.pop(column_name)
    result.insert(0, column_name, column)
    column_name = 'symbol'
    column = result.pop(column_name)
    result.insert(0, column_name, column)
    return(result)

In [203]:
dflist2 = makeDataFrameFromSymbols(["MSFT","AAPL","GOOGL"])

In [204]:
dflist2

,symbol,shortName,fullTimeEmployees,auditRisk,boardRisk,compensationRisk,shareHolderRightsRisk,overallRisk,governanceEpochDate,compensationAsOfEpochDate,...,returnOnEquity,grossProfits,freeCashflow,operatingCashflow,earningsGrowth,revenueGrowth,grossMargins,ebitdaMargins,operatingMargins,trailingPegRatio
0,MSFT,Microsoft Corporation,221000,6,5,2,2,2,1682899200,1672444800,...,0.38601,135620000000,42964873216,83441000448,0.104,0.071,0.68522,0.48210,0.41415,2.3007
1,AAPL,Apple Inc.,164000,4,1,5,1,1,1682899200,1672444800,...,1.45605,170782000000,83796623360,109583998976,0.000,-0.025,0.43181,0.32145,0.29163,2.8478
2,GOOGL,Alphabet Inc.,190711,6,2,8,10,10,1682899200,1672444800,...,0.22757,156633000000,55862624256,89898000384,-0.047,0.026,0.55302,0.30742,0.25355,1.1345

In [205]:
tickers = pd.read_html(
    'https://en.wikipedia.org/wiki/List_of_S%26P_500_companies')[0]

In [206]:
simbolosSp500 = tickers['Symbol']

In [207]:
dflist = makeDataFrameFromSymbols(simbolosSp500)

In [209]:
dflist.to_csv('informationCompanies.csv')

In [143]:
#msft = "MSFT"
datamsft = yf.Ticker("AAPL")
precios = datamsft.history(start='2023-01-01', end=None).Close
shares = datamsft.get_shares_full(start="2023-01-01", end=None)

APPL: No data found for this date range, symbol may be delisted

In [ ]:
infomsft['marketCap']

In [ ]:
dfPrecios = precios.to_frame("precios")
dfShares = shares.to_frame("shares")
dfShares['Date'] = dfShares.index